<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New chat's screen</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1> ..Start your new chat with your friend..</h1>

    <form method="post" action="/chats">
        <input placeholder="Name of sender" name ="from">
        <br> 
        <br>
    <textarea name ="msg">Type your message here</textarea>
    <br>
    <br>

    <input placeholder="Name of receiver" name ="to">
    <br>
    <br>

    <button>.Create chat.</button>
    </form>
</body>
</html>